@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply text-gray-600;
    @apply leading-7;
  }
}

.max-container {
  @apply mx-auto max-w-[1440px];
}

.flexCenter {
  @apply flex items-center justify-center;
}

.padding-x {
  @apply px-6 md:px-10 lg:px-20;
}

.padding-y {
  @apply py-4;
}

.primary-heading {
  @apply text-4xl lg:text-6xl font-bold capitalize text-gray-700;
}
